name: channel4-kick

on:
  # schedule:
  #   - cron: '20,50 * * * *'
  # push:
  #   branches:
  #     - master
  workflow_dispatch:

jobs:
  channel4-kick:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.8' # Specify the Python version you need
    - name: Download FFmpeg
      run: |
        sudo apt update
        sudo apt install ffmpeg
        pip install requests
        pip install yt-dlp
        pip install "yt-dlp[default,curl-cffi]"
        ls
        ffmpeg -version

    - name: Download kick
      run: |
         yt-dlp "https://live.mmf.moe/room/0204/index.m3u8" -o kick.mp4 &
    
    - name: Run Python script
      run: |
        python download_kick.py
      env:
        TELEGRAM_CHAT_ID: "-1002477355148"
        TELEGRAM_BOT_TOKEN: ${{ secrets.bot_token }}
