name: channel4

on:
  # schedule:
  #   - cron: '20,50 * * * *'
  # push:
  #   branches:
  #     - master
  workflow_dispatch:

jobs:
  channel4:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.8' # Specify the Python version you need
    - name: Download FFmpeg
      run: |
        sudo apt update
        sudo apt install ffmpeg 
        ffmpeg -version

    - name: Download N_m3u8DL-RE and Stream
      run: |
        wget -O N_m3u8DL-RE.tar.gz https://github.com/nilaoda/N_m3u8DL-RE/releases/download/v0.3.0-beta/N_m3u8DL-RE_v0.3.0-beta_linux-x64_20241203.tar.gz
        tar -xzf N_m3u8DL-RE.tar.gz
        ./N_m3u8DL-RE --live-real-time-merge "https://fastly.live.brightcove.com/6388309123112/ap-northeast-1/6160987587001/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJob3N0Ijoibm1pbHFkLmVncmVzcy5pdjNqZDgiLCJhY2NvdW50X2lkIjoiNjE2MDk4NzU4NzAwMSIsImVobiI6ImZhc3RseS5saXZlLmJyaWdodGNvdmUuY29tIiwiaXNzIjoiYmxpdmUtcGxheWJhY2stc291cmNlLWFwaSIsInN1YiI6InBhdGhtYXB0b2tlbiIsImF1ZCI6WyI2MTYwOTg3NTg3MDAxIl0sImp0aSI6IjYzODgzMDkxMjMxMTIifQ.oBkUeWhHHIUp9vi0IvfRp1bLCia_3fU_-hhbjL8I1FI/chunklist__4.m3u8" --save-name chunklist.mp4 &
        # --live-keep-segments 
    
    - name: Run Python script
      run: |
        pip install requests
        pip install pywidevine
        python send_Telegram_sc.py
      env:
        TELEGRAM_CHAT_ID: "-1002477355148"
        BOT_TOKEN: ${{ secrets.bot_token }}
